/* styles.css */

ul {
  background-color: #1F4388;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

ul li a {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 1.5rem 1.6rem;
  text-decoration: none;
  transition: all 0.1s;
  background-color: #1F4388;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
  text-decoration: none;
}

ul li a:hover {
  background-color: #1589d1;
  color: #ffffff;
}
